h1{
    color: rgb(62, 62, 221);
    font-family: 'Indie Flower', cursive;
    font-size: 5rem;
}

h2{
    color: rgb(62, 62, 221);
    font-family: 'Indie Flower', cursive;
    font-size: 3rem;
}
p{
    color: rgb(52, 56, 40);
    font-family: 'Indie Flower', cursive;
    font-family: 'Anton', sans-serif;
}
html{
    font-size:16px;
    
}

body{
    background-color: rgb(243, 140, 140);
    margin-top:50px;
}

@media(max-width: 640px){
    body{
        background-color: rgb(170, 67, 67);
    }
}